<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Pomodoro" id="main-logo">
        </div>

        <div id="state" , class="start-mode">---</div>
        <div id="timer">40:00</div>

        <div class="controls">
            <button id="play">▶</button>
            <button id="reset">■</button>
        </div>
    </div>
    <div id="notification" class="notification hidden">
        <div class="notification-content">
            <span id="notification-text"></span>
            <button id="close-notification">OK</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>